In [17]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [18]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [19]:
# Data Preprocessing
data = data.drop(["RowNumber","CustomerId","Surname"],axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [20]:
# Encoding categorical variables
label_encoder_gender = LabelEncoder()
data["Gender"] = label_encoder_gender.fit_transform(data["Gender"])
# label_encoder_Geography = LabelEncoder()
# data["Geography"] = label_encoder_Geography.fit_transform(data["Geography"])
# However, we will use one-hot encoding for Geography to avoid germany>spain as 2>1,0 therefore we will use One Hot Encoding
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [21]:
# Doing One Hot Encoding of Geography
geo_dummies = pd.get_dummies(data["Geography"],drop_first=True,dtype = int)
data1 = pd.concat([data.drop("Geography",axis=1),geo_dummies],axis=1)
data1

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Germany,Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,0,0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,0,42,8,159660.80,3,1,0,113931.57,1,0,0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,0,0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,0,0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,0,0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,1,0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,0,0

In [22]:
from sklearn.preprocessing import OneHotEncoder
Geo_encoder = OneHotEncoder()
Geo_encoded_data = Geo_encoder.fit_transform(data[["Geography"]]).toarray()
Geo_encoded_data

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]], shape=(10000, 3))

In [23]:
feature_names = Geo_encoder.get_feature_names_out(["Geography"])
Geo_encoded_data = pd.DataFrame(Geo_encoded_data,columns=feature_names)
Geo_encoded_data

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [24]:
data = pd.concat([data.drop("Geography",axis=1),Geo_encoded_data],axis=1)
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [25]:
Y = data["EstimatedSalary"]
X = data.drop("EstimatedSalary",axis=1)

In [26]:
with open("Pickles/Salary_Regressor/label_encoder_gender.pkl","wb") as file:
    pickle.dump(label_encoder_gender,file)
# Created a .pkl file opened it in wb mode and dumped the actual label encoder model into it

with open("Pickles/Salary_Regressor/Geo_encoder.pkl","wb") as file:
    pickle.dump(Geo_encoder,file)

In [27]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [28]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [29]:
X_train,X_test,Y_train,Y_test

(array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
         -0.57946723, -0.57638802],
        [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
          1.72572313, -0.57638802],
        [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
         -0.57946723,  1.73494238],
        ...,
        [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
         -0.57946723, -0.57638802],
        [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
         -0.57946723, -0.57638802],
        [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
          1.72572313, -0.57638802]], shape=(8000, 12)),
 array([[-0.57749609,  0.91324755, -0.6557859 , ..., -0.99850112,
          1.72572313, -0.57638802],
        [-0.29729735,  0.91324755,  0.3900109 , ...,  1.00150113,
         -0.57946723, -0.57638802],
        [-0.52560743, -1.09499335,  0.48508334, ..., -0.99850112,
         -0.57946723,  1.73494238],
        ...,
        [ 0.81311987, -1.09499335,  0.77030065, ...,  1.00150113,
         -0.57946723, -0.57638802],
        [ 0.41876609,  0.91324755, -0.94100321, ...,  1.00150113,
         -0.57946723, -0.57638802],
        [-0.24540869,  0.91324755,  0.00972116, ..., -0.99850112,
          1.72572313, -0.57638802]], shape=(2000, 12)),
 9254    179093.26
 1561    195978.86
 1670     85891.02
 6087    153080.40
 6669     39488.04
           ...
 5734     69381.05
 5191       706.50
 5390     92220.12
 860      97508.04
 7270     53581.14
 Name: EstimatedSalary, Length: 8000, dtype: float64,
 6252     41788.37
 4684    146379.30
 1731     58561.31
 4742    170679.74
 4521    114669.79
           ...
 6412     45038.29
 8285    109895.16
 7853     33373.26
 1095     76755.99
 6929    107674.30
 Name: EstimatedSalary, Length: 2000, dtype: float64)

In [30]:
with open("Pickles/Salary_Regressor/StandardScaler.pkl","wb") as file:
    pickle.dump(scaler,file)

In [31]:
data
X_train.shape

(8000, 12)

### ANN REGRESSION PROBLEM STATEMENT

In [32]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

d:\ML Models-Projects\Churning Model(ANN)\venv\Lib\site-packages\keras\src\export\tf2onnx_lib.py:8: FutureWarning: In the future `np.object` will be defined as the corresponding NumPy scalar.
  if not hasattr(np, "object"):

In [ ]:
model = Sequential([
    Dense(64,activation = "relu",input_shape = (X_train.shape[1],)), #First input layer where input_shape mentions input dimensions and in it we have passed the features count in form of tuple represention them as a single 1D tuple
    Dense(32,activation = "relu"),# No need to mention input shape here as it automatically takes the output of previous layer as input
    Dense(32,activation = "relu"),# No need to mention input shape here as it automatically takes the output of previous layer as input
    Dense(1)# If no activation function parameter given it means Linear activation function is being used
])

d:\ML Models-Projects\Churning Model(ANN)\venv\Lib\site-packages\keras\src\layers\core\dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [34]:
opt1 = tf.keras.optimizers.Adam(learning_rate=0.01)
opt2 = tf.keras.optimizers.Adagrad(learning_rate=0.01)
loss1 = tf.keras.losses.MeanAbsoluteError()
loss2 = tf.keras.losses.MeanSquaredError()
# For different optimizer and losses just create the object of that optimizer/loss class with required learning rate and pass it in optimzier/loss parameter in model.compile()

In [35]:
model.compile(optimizer = opt1,loss = "mean_absolute_error",metrics = ["mae"])

In [36]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [37]:
# Making Logs so tensorboard can create log files in it which contains all the scalars, histogram, compututationsal graphs, and other metadata which
# will be later used by the tensorboard to visualize the training process
log_dir = "logs/Salary_Regressor/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

In [38]:
# Callbacks - These allows you to do certain actions during training processes at specific points
tensorboard_callback = TensorBoard(log_dir=log_dir,histogram_freq=1) # histogram_freq=1 means histograms are enabled after every epoch
early_stopping_callback = EarlyStopping(monitor = "val_loss",patience =10,restore_best_weights = True) # halts training if val_loss does not improve for 20 consecutive epochs and restores the best weights

In [39]:
history = model.fit(X_train,Y_train,validation_data = (X_test,Y_test),epochs = 100,
                    callbacks =[tensorboard_callback,early_stopping_callback])
# So here we used tensorboard callback with trainig and validation process both 
# so Tensorboard + keras will automatically create separate logs for both train and validations

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 78563.4688 - mae: 78563.4688 - val_loss: 50709.9883 - val_mae: 50709.9883
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50220.6797 - mae: 50220.6797 - val_loss: 50581.9062 - val_mae: 50581.9062
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49925.7227 - mae: 49925.7227 - val_loss: 50263.9336 - val_mae: 50263.9336
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49743.6172 - mae: 49743.6172 - val_loss: 50232.2227 - val_mae: 50232.2227
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49617.8594 - mae: 49617.8594 - val_loss: 50387.0977 - val_mae: 50387.0977
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49524.0859 - mae: 49524.0859 - val_loss: 50335.5859 - val_mae: 50335.5859
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49470.4531 - mae: 49470.4531 - val_loss: 50294.2852 - val_mae: 50294.2852
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49484.1641 - mae: 49484.1641 - val_loss: 50454.8398 - val_mae: 50454.8398
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49404.7812 - mae: 49404.7812 - val_loss: 50388.2344 - val_mae: 50388.2344
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49409.1953 - mae: 49409.1953 - val_loss: 50371.6875 - val_mae: 50371.6875
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49394.7266 - mae: 49394.7266 - val_loss: 50415.6992 - val_mae: 50415.6992
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49373.4297 - mae: 49373.4297 - val_loss: 50405.6719 - val_mae: 50405.6719
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49332.0117 - mae: 49332.0117 - val_loss: 50448.6055 - val_mae: 50448.6055
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49305.3086 - mae: 49305.3086 - val_loss: 50659.0664 - val_mae: 50659.0664

In [40]:
model.save("Models/Salary_Regressor/model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [41]:
%load_ext tensorboard

In [47]:
%tensorboard --logdir logs/Salary_Regressor/fit/20251224-201437

Reusing TensorBoard on port 6011 (pid 3956), started 0:00:04 ago. (Use '!kill 3956' to kill it.)

In [48]:
# Evaluate model on test data
test_mae = model.evaluate(X_test,Y_test)
print("Test MAE:",test_mae[0])

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 50232.2227 - mae: 50232.2227
Test MAE: 50232.22265625

In [56]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Assuming X_train, X_test, Y_train, Y_test are already defined

# Optional: scale features
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create and train RandomForest Regressor
rf = RandomForestRegressor(
    n_estimators=200,  # number of trees
    max_depth=None,    # let trees grow fully
    random_state=42,
    n_jobs=-1
)

rf.fit(X_train_scaled, Y_train)

# Make predictions
Y_pred = rf.predict(X_test_scaled)

# Evaluate MAE
mae = mean_absolute_error(Y_test, Y_pred)
print(f"RandomForest MAE: {mae:.2f}")

RandomForest MAE: 51381.36

In [57]:
model.save("Models/Salary_Regressor_rf/model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.